#resume
  display flex
  flex-direction column
  align-items center
  padding 3em
  background-color var(--bg-content-color)

.card
h3
  text-align center
tr
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 0.5em
td
  max-width 50%

.data-left
  color var(--primary-color)

.data-right
  text-align right


.res-comps
  display flex
  flex-wrap wrap
  justify-content space-between
  ul
    max-width 50%
    text-align left

.res-sch-date
  min-width 70vw
  display flex
  flex-direction row
  justify-content space-between
