#resume
  display flex
  flex-direction column
  align-items center
  padding 3em
  background-color var(--bg-content-color)

.card


h3
  text-align center



tr
  display flex
  flex-wrap wrap
  justify-content space-between

td
  max-width 50%

.data-left
  color var(--primary-color)

.data-right
  text-align right


.res-comps
  display flex
  flex-wrap wrap
  justify-content space-between

.res-sch-date
  display flex
  flex-direction row
  justify-content space-between
